.table {
    margin:20px 50px;
    Button{
        margin-right: 5px;
    }
}

.AddSearch {
    display: flex;
    margin-top: 50px;
}

.btnAdd {
    width: 50%;
}

.btnSearch{
    width: 50%;
}

.formModal {
    margin: 10px;
    :focus{
        background-color: rgb(231, 240, 240);
    }
    div {
        margin-bottom: 10px;
        label{
            width: 40%;
        }
        select{
            width: 30%;
        }
        input{
            width: 30%;
        }
    }
}
